*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.purposeWrapper {
  height: 4%;
}

.formSection {
  background: #FFFFFF;
}

.imgSection {
  margin-top: 15%;
}

.formWrapper {
    height: 23%;
}

.usernameInput, .passwordInput, .loginBtn {
  margin-top: 0.7vw;
}

.loginBtn {
  margin-bottom: 0.5vw;
}

.registrationSection {
  margin-right: 2%;
}

.creditText {
  font-size: 0.5vw;
}



/* REGISTRATION */
.formRegisterWrapper {
  height: 40%;
  width: 20%;
}

.registerInput {
  height: 10%;
  margin-top: 0.7vw;
  width: 80%;
}

.exitBtn {
  height: 7%;
  margin-top: 0.7vw;
  width: 7%;
  cursor: pointer;
  margin-left:auto;
  margin-right: 10%;
}

.testWrapper {
  margin-top: 15%;
}

/* HOME */
.pokeDexBar {
  height:10%;
  width: 100%;
}

.pokeDexText {
  height: 3.5vw;
}

.pokeDexSection {
  margin-top: 1%;
  height: 87%;
  overflow-y: auto;
}
 
.cardWrapper {
  height: 25vh;
  width: 10vw;
}

.imgContainer {
  height:50%;
}

.nameContainer {
  height: 20%;
}